*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.sketch{
    border: 1px solid black;
    padding: 20px;
}

#sketchArea{
    margin: 0;
    padding: 20px 0px;
}

.gridRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    min-width: 20px;
    min-height: 20px;
}